body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: "navbar" "header" "content";
}

.navbar {
    grid-area: navbar;
    background-color: #3C1874;
}

.navbar ul li {
    display: inline-block;
    margin-right: 40px;
}

.navbar ul li a {
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
    color: #F3F3F3;
}

.header {
    grid-area: header;
    padding: 5%;
    background-color: #932432;
}

.header h1 {
    text-align: center;
    font-family: 'Gideon Roman', cursive;
    font-size: 4em;
    color: #F3F3F3;
}

.content {
    padding: 2%;
    background-color: #DE354C;
    font-family: 'DM Sans', sans-serif;
    font-size: 2em;
    color: #F3F3F3;
}

input[type=text] {

}