body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: "navbar" "header" "content";
}

.navbar {
    grid-area: navbar;
    background-color: #3C1874;
}

.navbar ul li {
    display: inline-block;
    margin-right: 4vw;
}

.navbar ul li a {
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
    color: #F3F3F3;
}

.header {
    grid-area: header;
    padding: 5vw;
    background-color: #932432;
}

.header h1 {
    text-align: center;
    font-family: 'Gideon Roman', cursive;
    font-size: 5vw;
    color: #F3F3F3;
}

.content {
    padding: 2vw;
    background-color: #DE354C;
    font-family: 'DM Sans', sans-serif;
    font-size: 2vw;
    color: #F3F3F3;
}

.content a {
    text-decoration: none;
    padding: 2vw;
    background-color: #3C1874;
    color: #F3F3F3;
    font-family: 'Major Mono Display', monospace;
    font-size: 2vw;
    border-radius: 10px;
}

.total {
    padding: 2vw;
    background-color: #DE354C;
    font-family: 'DM Sans', sans-serif;
    font-size: 4vw;
    color: #F3F3F3;
}

input, select {
    padding: 2vw;
    margin-left: 2vw;
    font-family: 'DM Sans', sans-serif;
    font-size: 2vw;
    
}

button, input[type=submit] {
    padding: 2vw;
    background-color: #3C1874;
    color: #F3F3F3;
    font-family: 'Major Mono Display', monospace;
    font-size: 2vw;
    border-radius: 10px;
}