<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Pacifico&family=Stick+No+Bills:wght@200&display=swap" rel="stylesheet">
    <title>BigSpender: The spending tracker app.</title>
</head>
<body>
    <header>
        <div class="navbar">
            <h1>BigSpender: The spending tracker app.</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/transactions/new_transaction">New Transaction</a></li>
                    <li><a href="/transactions/view_transactions">View Transactions</a></li>
                    <li><a href="/merchants/new_merchant">New Merchant</a></li>
                    <li><a href="/merchants/view_merchants">View Merchants</a></li>
                    <li><a href="/tags/new_tag">New Tag</a></li>
                    <li><a href="/tags/view_tags">View Tags</a></li>
                </ul>
            </nav>
    </header>
    {% block content %}

    {% endblock content %}
</body>
</html>